@model NWLabsSite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<br />
<h2>Register</h2>
<br />

@using (Html.BeginForm("Create", "Customer", FormMethod.Get))
{
    <table class="table">
        <tr>
            <td>First Name:</td>
            <td>@Html.TextBox("FirstName")</td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBox("LastName")</td>
        </tr>
        <tr>
            <td>Address: </td>
            <td>@Html.TextBox("Address")</td>
        </tr>
        <tr>
            <td>City: </td>
            <td>@Html.TextBox("City")</td>
        </tr>
        <tr>
            <td> State:</td>
            <td>@Html.TextBox("State")</td>
        </tr>
        <tr>
            <td> Zip Code: </td>
            <td>@Html.TextBox("Zip")</td>
        </tr>
        <tr>
            <td>Phone Number: </td>
            <td>@Html.TextBox("Phone")</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBox("Email")</td>
        </tr>
    </table>
    <br />
    <input type="submit" value="Submit">
}